p{
    color: rgb(50, 50, 50);
}

a.lizlink{
    padding: 0px 10px;
    margin: 0px 0px 0px 10px;
    border-radius: 50px;
    color: palevioletred;
}

a.lizlink:hover{
    background-color: palevioletred;
    color: white;
}

div.lizdivgrey{
    background-color: rgb(238, 183, 183);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgb(206, 156, 156);
}

h4.lizsmallh4{
    font-size: 18px;
    color: rgb(59, 55, 56);
}

section#about.resume-section{
    background-color: rgb(255, 240, 246);
}

.lizcrop{
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    margin: 10px 5px;
    border-radius: 10px;
}

.spotify-wrapper {
    width: 100%;
    margin: 40px auto 0;
    float: left;
}

.lizserif{
     font-family: "Noto Serif TC", serif;
}

.lizcallmebg{
    background-image: url("../assets/img/背景.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.my-table-header {
  background-color: #ffb7d5 !important;
  color: #ffffff;
}